<div class="modal ng-scope center am-fade-and-scale" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 1050; display: block;">
    <div class="modal-dialog my-modal-dialog">
        <div class="modal-content my-modal-content">
            <div class="modal-body my-modal-body ng-binding" >

                <img ng-src="{{ currentMediaFile.preview }}" ng-click="nextMediaFile()">


            </div>
            <!--div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div-->
        </div>
    </div>
    <!--div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body ng-binding" >
                Here media info and menu will go.

            </div>
        </div>
    </div-->
</div>